[submodule "plugins/TestPlugin"]
	path = plugins/TestPlugin
	url = https://github.com/huan-yp/TestPlugin.git
	branch = v0.0.7
[submodule "plugins/LLM_API"]
	path = plugins/LLM_API
	url = https://github.com/huan-yp/LLM_API.git
	branch = v0.0.1
[submodule "plugins/Lolicon"]
	path = plugins/Lolicon
	url = https://github.com/huan-yp/Lolicon.git
	branch = b0.0.9
[submodule "plugins/StableDiffusion"]
	path = plugins/StableDiffusion
	url = https://github.com/huan-yp/StableDiffusion.git
	branch = b0.0.5
[submodule "plugins/WikiLink"]
	path = plugins/WikiLink
	url = https://github.com/yhgzs-111/WikiLink.git
	branch = b1.3
[submodule "plugins/SystemStatus"]
	path = plugins/SystemStatus
	url = https://github.com/Isaaczhr/SystemStatus.git
	branch = b0.0.1
[submodule "plugins/BiliSubscribe"]
	path = plugins/BiliSubscribe
	url = https://github.com/meowhuan/BiliSubscribe.git
	branch = b1.0.0
[submodule "plugins/BilibiliParser"]
	path = plugins/BilibiliParser
	url = https://github.com/meowhuan/BilibiliParser.git
	branch = b1.0.0
[submodule "plugins/CS2CaseSimulator"]
	path = plugins/CS2CaseSimulator
	url = https://github.com/175062628/CS2CaseSimulator.git
	branch = b0.0.1
[submodule "plugins/ModelChat"]
	path = plugins/ModelChat
	url = https://github.com/ouyangyanhuo/ModelChat.git
	branch = v2.0.0
[submodule "plugins/Weather"]
	path = plugins/Weather
	url = https://github.com/pythagodzi11a/Weather.git
	branch = b0.1.1
[submodule "plugins/YiYanAPI"]
	path = plugins/YiYanAPI
	url = https://github.com/pythagodzi11a/YiYanAPI.git
	branch = b0.1.1
[submodule "plugins/TodayWifePlugin"]
	path = plugins/TodayWifePlugin
	url = https://github.com/ouyangyanhuo/TodayWifePlugin.git
	branch = v1.0.0
